@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a personal project to learn ASP's Razor Pages! Just a small app to catalog movies & shows</p>
    <a href="./Movies">Movies</a> <span>🎬</span> | <a href="./Shows">Shows</a> <span>🎞</span>
</div>
